<template>
  <div>
    <h1 class="sub-title default-text" v-html="question"></h1>
    <button id="" class="btn choice-button default-text" @click="nextQuestionClick(choice)" v-for="choice of choices" :key="choice.id" v-html="choice"></button>
    <br/>
    <br/>
    <br/>
    <br/>
    <button class="btn trivia-button-small default-text" @click="restartGame">Restart Game</button>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Question',
  mounted() {
    this.updateQuestion()
  },
  methods: {
    ...mapMutations(['setQuestions', 'setResults', 'setAnswers']),
    ...mapActions(['fetchQuestions']),
    updateQuestion() {  //updates the interface with a new question
      this.question = this.questions[this.questionNumber - 1].question

      this.choices = []
      if (this.questions[this.questionNumber - 1].type === 'boolean') {
        this.choices.push('True', 'False')
      } else {
        this.choices.push(this.questions[this.questionNumber - 1].incorrect_answers[0],
            this.questions[this.questionNumber - 1].incorrect_answers[1],
            this.questions[this.questionNumber - 1].incorrect_answers[2],
            this.questions[this.questionNumber - 1].correct_answer)
        this.choices.sort(() => Math.random() - 0.5);
      }
    },
    nextQuestionClick(answer) {  //checking answer given and routes to either new question or result page
      this.answers.push(answer)

      if (answer === this.questions[this.questionNumber - 1].correct_answer) {
        this.results.push(true)
      } else {
        this.results.push(false)
      }

      if (this.questionNumber < 10) {
        this.questionNumber++
        this.updateQuestion()
        this.$router.push(`/questions/${ this.questionNumber }`)
      } else {
        this.setAnswers(this.answers)
        this.setResults(this.results)
        this.$router.push("/result")
      }
    },
    restartGame() {
      this.fetchQuestions().then(() => { // Fetch new questions
        this.questionNumber = 1
        this.answers = []
        this.results = []
        this.$router.push('/questions/1'); // Go to the first question
        this.updateQuestion()
      })
    }
  },
  data() {
    return {
      questionNumber: this.$route.params.questionNumber,
      question: '',
      choices: [],
      answers: [],
      results: [],
      error: ''
    }
  },
  computed: {
    ...mapState(['questions']),
  }
}
</script>