<template>
  <div>
    <h1 class="sub-title">Results</h1>
    <ResultTable
      :questions="questions"
      :correctAnswers="correctAnswers"
      :answers="answers"
      :results="results"
    />
    <h2>Score</h2>
    <h3>{{points}}/{{questions.length * 10}}</h3>
    <ResultFeedback :points="points" :max-points="100"/>
    <ResultOptions />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ResultTable from '@/components/Result/ResultTable';
import ResultFeedback from "@/components/Result/ResultFeedback";
import ResultOptions from "@/components/Result/ResultOptions";

export default {
  name: 'Result',
  components: {ResultOptions, ResultFeedback, ResultTable },
  computed: {
    ...mapState(['questions', 'answers', 'results']),
    ...mapGetters([
        'questions',
        'correctAnswers',
        'points'
    ]),
  }
}
</script>