<template>
  <h3 v-if="points === 0">Umm <br>👀</h3>
  <h3 v-else-if="points <= maxPoints * 0.25">You can do better<br>😤</h3>
  <h3 v-else-if="points <= maxPoints * 0.5">Ok<br>😐</h3>
  <h3 v-else-if="points <= maxPoints * 0.75">Not bad<br>🤗</h3>
  <h3 v-else-if="points <= maxPoints">Good job<br>🥳</h3>
  <h3 v-else-if="points === maxPoints">You're a Trivia Genius<br>🤯</h3>
</template>

<script>
export default {
  name: 'ResultFeedback',
  props: ['points', 'maxPoints']
}
</script>