<template>
  <table class="result-table">
    <tr>
      <th>Question</th>
      <th>Correct answer</th>
      <th>You answered</th>
    </tr>
    <tr v-for="(n, i) in 10" :key="i">
      <td v-html="questions[i]"></td>
      <td v-html="correctAnswers[i]"></td>
      <td :class="[results[i] ? 'correct': 'wrong']" v-html="answers[i]"></td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'ResultItem',
  props: [ 'questions', 'correctAnswers', 'answers', 'results'],
}
</script>