<template>
  <div>
      <button class="btn trivia-button-small default-text" @click="getQuestionsAndGo">Play Again</button>
    {{' '}}
    <router-link to="/">
      <button class="btn trivia-button-small default-text">Main Menu</button>
    </router-link>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'ResultOptions',
  methods: {
    ...mapActions(['fetchQuestions']),
    getQuestionsAndGo() { // Before we leave this page, the questions are fetched and put in state
      this.fetchQuestions().then(() => {
        this.$router.push('questions/1'); // Go to the question
      })
    }
  }
}
</script>