<template>
<div>
  <h1 class="main-title fade-in">Vue Trivia Game</h1>
  <p class="fade-in" :hidden="hideParagraph">A Trivia game made using Vue and the open trivia db API.</p>
  <button class="btn trivia-button-big default-text fade-in" :hidden="hideButton" @click="getQuestionsAndGo">Start Game</button>
</div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'StartPage',
  created() {
    // Show the paragraph and button some time after the title
    setTimeout(this.showParagraph, 1500);
    setTimeout(this.showButton, 3200);
  },
  data() {
    return {
      hideParagraph: true,
      hideButton: true,
      error: ''
    }
  },
  methods: {
    showParagraph() {
      this.hideParagraph = false
    },
    showButton() {
      this.hideButton = false
    },
    ...mapActions(['fetchQuestions']),
    getQuestionsAndGo() { // Before we leave this page, the questions are fetched and put in state
      this.fetchQuestions().then(() => {
        this.$router.push('questions/1'); // Go to the question
      })
      .catch(error => {
        this.error = error.message
      })
    }
  }
}
</script>
<style scoped>
  h1 {
    margin-bottom: 10px;
  }
  button {
    margin-top: 50px;
  }
</style>