.btn {
    padding: 20px;
    text-align: center;
    border: none;
    text-decoration: none;
    outline: none;
    background-color: #35495E;
    color: white;
}

.btn:hover {
    filter: brightness(0.80); /* Darker button color on hover */
    cursor: pointer;
}

.trivia-button-big {
    font-size: 4em;
}

.trivia-button-small {
    width: 15em;
    font-size: 1em;
}

.choice-button {
    font-size: 3em;
    margin: 0.5em;
}



