.main-title {
    margin-top: 0;
    padding-top: 1em;
}

.sub-title {
    margin-top: 0;
    padding-top: 1em;
}

/* Laptops */
@media only screen and (min-width: 1224px) {
    .main-title {
        font-size: 6em;
    }

    .sub-title {
        font-size: 3em;
    }
}

/* Larger screens */
@media only screen and (min-width: 1824px) {
    .main-title {
        font-size: 10em;
    }

    .sub-title {
        font-size: 5em;
    }
}