body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
body {
    background-color: #42B883;
}

.main-container {
    margin: 0 0 10px auto;
    text-align: center;
    height: 100%;
}
