@font-face {
    font-family: montserrat-font;
    src: url(../assets/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-font-bold;
    src: url(../assets/Montserrat-Regular.ttf);
    font-weight: bold;
}

.default-text {
    font-family: montserrat-font, serif;
}